.btnclose {
    width: 32px;
    height: 32px;
    padding: 8px;
    border: 0px;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(163, 162, 162);
    cursor: pointer;
}

.menu-cart-wrap {
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255) !important;
    color: black;
    border-left: 1px solid rgba(0,0,0,.2);
    transition: all .3s;
}

/* Menu__Cart__Header */
.menu-cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid hsla(0,0%,66.7%,.6);
}
.menu-cart__header-title {
    padding: .375rem 0 .25rem;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.menu-cart__header-close {
   display: flex;
   align-items: center;
   cursor: pointer;
}
/* Menu__Cart__Header */

/* Menu__Cart__Item */
.menu-cart-item {
    border-bottom: 1px solid hsla(0,0%,66.7%,.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.product-info {
    display: flex;
}
.product-img {
    margin: 0rem 1rem;
    padding-top: 4.5rem;

    width: 4.5rem;
    min-width: 4.5rem;
    height: 100%;
    
    background-size: cover;
}
.product-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-name {
    font-size: 1rem;
    line-height: 1rem;
}
.product-price {
    font-size: .825rem;
}
.product-total-price {
    font-size: .9rem;
    font-weight: 600;
    color: #e69646;
}
.product-button-close {
    cursor: pointer;
}
/* Menu__Cart__Item */

/* Menu__Cart__Footer */
.menu-cart__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

    position: absolute;
    bottom: 0;
    background-color: rgb(255, 255, 255);
}
.menu-cart-btn {
    margin: .375rem;
    padding: .375rem .5rem;
    border: 1px solid #e69646;
    color: #e69646;
    background-color: inherit;

    font-size: 1.1rem;
    line-height: 1.5;
    cursor: pointer;
    border-radius: .3rem;
    transition: all .1s;
    font-family: 'Lato', sans-serif;
}
.btn-primary:hover {
    background-color: #e69646;
    color: #fff;
}
.btn-view-cart {
    background-color: #e69646;
    color: #fff;
}
/* Menu__Cart__Footer */